/Remote_Control/.vs
/Remote_Control/Remote_Control/Remote_Control.vcxproj.user
/Remote_Control/RemoteClient/RemoteClient.vcxproj.user
/Remote_Control/x64/Debug
/Remote_Control/Remote_Control/x64/Debug
/Remote_Control/RemoteClient/x64/Debug
